.field__label {
    margin-bottom: 0.25rem;
    display: block;
    font-size: 1rem;
    font-weight: 500;
    color: #000000;
}

.field__input {
    width: 100%;
    border-radius: 0.375rem;
    border: 1px solid #000000;
    background-color: #ffffff;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-size: 1rem;
    color: #000000;
    outline: none;    
}

.field__input:focus {
    border-color: #2980B9;
    box-shadow: 0 0 0 2px rgba(41, 128, 185, 0.5);
}

.field__error {
    margin-top: 0.5rem;
    font-size: 0.875rem;
    color: #E74C3C;
}

.container__checkbox {
    display: flex;
    align-items: center;
}

.checkbox__label {
    color: #1a202c;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkbox__input {
    height: 1rem; 
    width: 1rem;
    border: 1px solid #D1D5DB;
    margin-right: 0.5rem;
}

.button__add_field {
    margin-top: 1rem; 
    margin-bottom: 1rem; 
    box-shadow: 0 1px 2px 0 rgba(41, 128, 185, 0.1); 
    border-radius: 0.375rem; 
    border-width: 2px; 
    border-color: #2980B9; 
    padding-top: 0.75rem;
    padding-bottom: 0.75rem; 
    padding-left: 2rem;
    padding-right: 2rem;
    text-align: center; 
    font-size: 1rem;
    font-weight: 600;
    color: #000000; 
    outline: none; 
}

.button__remove_field {
    border-radius: 0.375rem;
    border-width: 2px;
    border-color: #2980B9;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 2rem;
    padding-right: 2rem;
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    color: #000000;
    outline: none; 
}

.button__remove_field:disabled {
    text-decoration: line-through; 
}

.container__fields_array {
    display: flex;
    flex-direction: column;
    gap: 0.5rem; /* Equivalente a 'gap-y-2' */ 
}

.field_array__input {
    width: 100%;
    border-radius: 0.375rem;
    border: 1px solid #000000;
    background-color: #ffffff;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem; 
    padding-left: 1.5rem; 
    /* padding-right: 1.5rem;  */
    font-size: 1rem; 
    color: #000000;
    outline: none;
}

.field_array__input:focus {
    border-color: #2980B9;
    box-shadow: 0 0 0 2px rgba(41, 128, 185, 0.5); /* Equivalente a 'focus:shadow-md' */
}

.container__button_remove {
    display: flex;
    align-items: flex-end;
}

.button__send {
    width: 100%;
    background: #2980B9; 
    border-radius: 0.375rem; 
    padding-top: 0.75rem; 
    padding-bottom: 0.75rem;
    text-align: center; 
    font-size: 1rem; 
    font-weight: 600;
    color: #ffffff; 
    outline: none;
    margin-top: 1rem; 
    margin-bottom: 1rem; 
}

@media (min-width: 768px) {
    .container__fields_array {
      flex-direction: row;
      gap: 1rem; /* Equivalente a 'gap-x-4' */
    }
}