.field__label {
  margin-bottom: 0.25rem;
  display: block;
  font-size: 1rem;
  font-weight: 500;
  color: #000000;
}

.field__input {
  width: 100%;
  border-radius: 0.375rem;
  border: 1px solid #000000;
  background-color: #ffffff;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  font-size: 1rem;
  color: #000000;
  outline: none;
}

.field__input:focus {
  border-color: #2980b9;
  box-shadow: 0 0 0 2px rgba(41, 128, 185, 0.5);
}

.field__error {
  margin-top: 0.5rem;
  font-size: 0.875rem;
  color: #e74c3c;
}

.container__checkbox {
  display: flex;
  align-items: center;
}

.checkbox__label {
  color: #1a202c;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkbox__input {
  height: 1rem;
  width: 1rem;
  border: 1px solid #d1d5db;
  margin-right: 0.5rem;
}

.button__send {
  width: 100%;
  background: #005EB8;
  border-radius: 0.375rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  color: #ffffff;
  outline: none;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.color {
  appearance: none;
  display: block;
  width: 100%;
  padding: 0.75rem;
  color: #4a5568;
  border: 1px solid #cbd5e0;
  border-radius: 0.375rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  outline: none;
  height: 4rem;
}

.color:focus {
  box-shadow: 0 0 0 2px #2980b9;
  border-color: #2980b9;
}

/* Field Arrays */

.field_array__input {
  width: 100%;
  border-radius: 0.375rem;
  border: 1px solid #000000;
  background-color: #ffffff;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1.5rem;
  font-size: 1rem;
  color: #000000;
  outline: none;
}

.field_array__input:focus {
  border-color: #2980b9;
  box-shadow: 0 0 0 2px rgba(41, 128, 185, 0.5); /* Equivalente a 'focus:shadow-md' */
}

.table {
  border-collapse: collapse;
  width: 100%;
}

.th {
  padding: 0.75rem;
  background-color: #e1e1e1;
  border: 1px solid #d2d6dc;
  display: none;
  font-weight: normal;
}

.tr {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-wrap: nowrap;
  margin-bottom: 1rem;
  margin-bottom: 0;
}

.tr:hover {
  background-color: #f3f4f6;
}

.td {
  width: 100%;
  padding: 0.75rem;
  color: #2d3748;
  border: 1px solid #cbd5e0;
  text-align: center;
  display: block;
  position: relative;
}

.td__span {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #bee3f8;
  padding: 0.25rem 0.5rem;
  font-size: 0.75rem;
}

.td__button {
  color: #005EB8;
  text-decoration: none;
}

.td__button:hover {
  color: #3182ce;
  text-decoration: underline;
}

@media (min-width: 1024px) {
  .th {
    display: table-cell;
  }

  .tr {
    flex-wrap: nowrap;
    margin-bottom: 0;
  }

  .td {
    width: auto;
    display: table-cell;
    position: relative;
    position: static;
  }

  .td__span {
    display: none;
  }
}

